/* Importando CSS de Tabelas */
@import url('tabelas.css');
p {
	color: #454545;
}
header p {
	color: #fff;
	font-size: 1.5rem;
}
/* 	Combinadores 
	(espaço) seletor descendente 
	(>) combinador de seletores filhos
	(+) combinador de elementos irmãos adjacentes / que vem logo na sequencia
	(~) combinador de elementos irmãos geral / após elemento de referência
*/
header h2 {
	font-weight: 100;
}
header > h2 {
	font-weight: 600;
}
h2 + p {
/*	background: #FF0; */
	color: #333;
}
h2 ~ h5 {
	font-size: 1.2rem;
}
div ~ p {
	text-transform: uppercase;
}
/* Pseudo-classes */
a {
	color: #555555;
	text-decoration: none; /* o padrão é underline */
	font-size: 0.9rem;
	display: block;
	width: 100%;
	height: auto;
}

a:visited {
	color: #f00;
}

a:active {
	color: #096;
}

a:hover {
	color: #009;
	
}

h2:hover {
	color: #888;
}


/* 
	Tipografia
*/

html {
	font-family: sans-serif;
}

h1, h2, h3 {
	font-weight: 400;
	font-family: 'arial';
}

p {
	font-weight: normal;
	font-size: 1.4rem;
}

ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
	float: left;
}

h3 {
	/* declaração resumida / completa */
	font: italic bold 1.2rem/2 sans-serif;
}
/* 
	Cores
*/
body {
	background: none;
}
p {
	color: blue;
	color: #034589;
}
header {
	
	background-color: #ebe9e7;
}
footer {
	background-color: #494242;
}
footer p {
	color: rgb(255, 255, 255);
}
.navegacao {
	
	padding: 1.5rem;
	
}

.navegacao li a {
	
	display: block;
  padding: 8px;

}

.navegacao li a:hover {
	background-color: #f9f7f8;
	color: #333333;
}

.table-index {
/*background-color: rgb(228, 228, 228);
float: left;*/
}

/* filtors */

.filtro {
filter: grayscale(100%);	
filter: brightness(99%);
filter: blur(1px);
filter: saturate(105%) sepia(70%);
filter: drop-shadow(4px 8px 10px #333);
image-rendering: crisp-edges;
}
.x-pression {
	filter:drop-shadow(4px 8px 10px rgb(202, 81, 11));
}	

.filtro:hover {
	filter:grayscale(0%);	
	}

/* 
	Herança
	1. Sobreposição / Sobrescreve
	2. Aplica a último estilo definido
	3. Prioriza estilo específicas (com seletores mais próximos)
	4. Se aplica a todas as propriedades
 */
 .navbar {
  width: 100%;
  
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  
}

/* Style the current/active link */
.navbar a.active {
  background-color: #fefefe;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: #1274f7;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.center{
	
  align-items: center;
}

.center-transformacao{
	display: flex;
  align-items: center;
	font-size: large;
}

.transformacao{
	font-style: normal;
	font-size: xx-large;
	padding: 20px;
}

@media (max-width: 620px) {
	.container {
			max-width: 560px;
	}
}